*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  min-width: 0;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
body {
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;

  background-color: #eff0f1;
  color: #000000;

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}

:root {
  --color-blue: #116acc;
  --color-white: #ffffff;
  --color-dark-blue: #090e53;
  --color-grey: #d9dde7;

  --radius-md: 12px;

  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;

  --font-xs: clamp(12px, 1vw, 14px);
  --font-sm: clamp(14px, 1.2vw, 16px);
  --font-md: clamp(16px, 1.5vw, 18px);
  --font-lg: clamp(18px, 2vw, 24px);
  --font-xl: clamp(24px, 3vw, 32px);
}
