.header {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.inner {
  margin: 0 auto;
  padding: clamp(12px, 2vw, 21px) 16px clamp(4px, 1vw, 5px);
  height: clamp(72px, 10vw, 103px);

  display: flex;
  align-items: flex-end;
  gap: 32px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 66px;
}
.logo {
  height: clamp(36px, 4vw, 56px);
  width: auto;
}
.link {
  text-decoration: none;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: clamp(14px, 2.5vw, 25px);
  line-height: clamp(20px, 3vw, 50px);

  color: #000000;
  border-bottom: 2px solid transparent;
  transition: color 0.2s;
}

.link:hover {
  color: #1a1a1a;
}

.active {
  border-bottom: clamp(2px, 0.5vw, 5px) solid #116acc;
}
